[Desktop Entry]
Name=Focus
GenericName=Focus App
Comment=An simple app to increase focus 
Categories=Productivity;Utility;
Exec=focus
Icon=application-default-icon
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=focus
X-GNOME-Keywords=Focus;App;Productivity;